<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
        function copyToClipboard(text) {
  window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
    </script>
<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <p> Every Event is <%= everyEvent %></p>
  <div class="row">
    <% for(var i =0; i< everyEvent.length; i++) {%>
    <div class="image-tag col-md-5"><img class="img-responsive img-circle"src=<%= everyEvent[i]["imageUrl"]%> />
        <button type="button" name="copy image url" onclick="copyToClipboard(<%= String(everyEvent[i]["imageUrl"])%>)">Copy image url</button>
    <a href="https://twitter.com/intent/tweet?button_hashtag=AH8&text=I%20am%20here%20hacking%2C%20where%20are%20you%20bro%3F" class="twitter-hashtag-button" data-size="large" data-related="angelhack">Tweet #AH8</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <a href="https://twitter.com/intent/tweet?screen_name=angelhack" class="twitter-mention-button" data-size="large" data-related="ibmbluemix">Tweet to @angelhack</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
        </div>

    <% }%>
  </div>
</html>
